<div class="contsiner">
    <!-- <div class="row">
        <form [formGroup]="searchForm" class="col">
            <label for="searchBox" class="form-label"
            ></label>
            <input type="text" class="form-control"
            formControlName="search" id="searchBox"
            placeholder="Trimer" required>
        </form>
    </div>

    <div class="row search-results">
        <ul class="list-group">
            <li class="list-group-item row"
            *ngFor="let item of filterItems | async">
        
            <span class="col-6">{{ item.name}}</span>
            <span class="col-6">item.price</span>
        </li>

        </ul>
    </div>
    <div class="row">
        <button type="button"class="btn btn-primary"
        [disabled]="!searchForm.valid">
    Submit</button>
    </div> -->
</div>
